@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --white: #fff;
    --orange: #C45632;
    --black: #1b1b1b;
    --gray: #373D4C;
    --lightgray: #ccc;
    --lightorange: #C05D19;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--gray);
}

section{
    padding: 5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.heading span{
    font-size: 1.5rem;
    padding: .5rem 2rem;
    color: var(--orange);
    background: var(--black);
    border: var(--orange);
}

.home .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 20px;
}
.home .row .content{
    flex: 1;
    justify-content: center;
    align-items: center;
    background: var(--black);
    padding: 20px 50px 50px;
}

.home .row .books-slider{
    flex: 1;
    text-align: center;
    margin-top: -5px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.home .row .books-slider a img{
    height: 15rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width: 100%;
    height: 20vh;
    margin-top: -3rem;
}

.home .row .content h3{
    color: var(--orange);
    font-size: 4rem;
}

.home .row .content p{
    color: var(--white);
    font-size: 1.3rem;
    line-height: 2;
    padding: 1rem 0;
}

.btn{
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    background: var(--orange);
    border-radius: 3px;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.btn1{
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem .5rem;
    border-radius: .5rem;
    color: var(--white);
    background: var(--orange);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.btn1:hover{
    background: var(--lightorange);
}

.btn:hover{
    background: var(--orange);
    transition: .3s;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    background: var(--black);
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color: var(--orange);
}

.icons-container .icons h3{
    font-size: 1.8rem;
    color: var(--white);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.3rem;
    color: var(--lightgray);
}

.featured .featured-slider .box{
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--white);
    text-align: center;
    border: 1px solid var(--black);
    color: var(--white);
}

.featured .featured-slider .box:hover{
    border: 1px solid var(--black);
}

.featured .featured-slider .box .image{
    padding: 1rem;
    background: var(--orange);
}

.featured .featured-slider .box:hover .image{
    transform: translateY(4rem);
    transition: .3s;
}

.featured .featured-slider .box .image img{
    height: 16rem;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--lightgray);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color: var(--orange);
    font-size: 1.5rem;
    padding: 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background: var(--orange);
    color: var(--white);
}

.featured .featured-slider .box .content{
    background: var(--black);
    padding: 1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 1.3rem;
    color: var(--white);
}

.featured .featured-slider .box .content .price{
    font-size: 1.3rem;
    color: var(--white);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.3rem;
    color: var(--lightgray);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
    border: var(--black);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: var(--white);
}

.swiper-button-next::after,
.swipper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    transition: .3s;
    background: var(--black);
    color: var(--white);
}

.newsletter{
    background: var(--black) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter img{
    display: flex;
    justify-content: flex-start;
    width: 500px;
    height: 400px;
    margin-top: -100px;
    margin-bottom: 10px;
}

.newsletter form{
    left: 300px;
    max-width: 30rem;
    margin-left: 700px;
    margin-top: -350px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
}

.newsletter form h3{
    font-size: 2rem;
    color: var(--white);
    padding-bottom: .7rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.newsletter form .box{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
}

.arrivals .arrivals-slider{
    border: 1px solid var(--black);
    background: var(--black);
}

.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 4.1rem;
    margin: 1rem 0;
    border: 8px solid var(--orange);
}


.arrivals .arrivals-slider .box .image img{
    height: 15rem;
    padding: 10px;
    background: var(--orange);
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 1.3rem;
    color: var(--white);
}

.arrivals .arrivals-slider .box .content .price{
    font-size: 1.2rem;
    color: var(--white);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1rem;
    color: var(--lightgray);
    text-decoration: none;
}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1rem;
    color: var(--orange);
}

.deal{
    background: var(--black);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.deal .content{
    flex: 1;
}

.deal .image{
    flex: 1;
}

.deal .image img{
    width: 100%;
}

.deal .content h3{
    color: var(--orange);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1{
    color: var(--white);
    font-size: 4rem;
}

.deal .content p{
    padding: 1rem 0;
    color: var(--lightgray);
    font-size: 1.4rem;
    line-height: 2;
}

.reviews .reviews-slider .box{
    border: 1px solid var(--black);
    padding: 2rem;
    text-align: center;
    background: var(--black);
}

.reviews .reviews-slider .box:hover{
    border: 1px solid var(--lightgray);
}

.reviews .reviews-slider .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--lightgray);
}

.reviews .reviews-slider .box h3{
    color: var(--white);
    font-size: 2.2rem;
    padding: 2rem 0;
}

.reviews .reviews-slider .box p{
    color: var(--lightgray);
    font-size: 1.2rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--orange);
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:768px){
    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .nwesletter{
        background-position: right;
    }

    .newsletter form{
        margin-left: 0;
        max-width: 100%;
    }
}

/*Category Section*/
.bookCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bookCard {
    text-align: left;
    margin-top: 50px;
}

.bookCard img {
    max-width: 200px;
    height: auto;
    float: left;
    margin-right: 20px;
}

.bookCardDetail{
    background-color: var(--black);
    height: 90%;
    margin-top: 25px;
}

.cardBookTitle{
    color: var(--orange);
    font-size: 25px;
}

.cardBookAutor{
    color: var(--lightgray);
    font-size: 17px;
}

.bookCardCalification{
    display: flex;
    justify-content: space-between;
}

.bookCardPrice{
    margin-right: 15px;
    color: var(--orange);
}

.cardBookSinopsis{
    color: var(--lightgray);
    font-size: 13px;
    min-height: 130px;
    max-height: 130px;
    overflow: hidden;
}

.cardBookButtons{
    display: flex;
    text-align: center;
    justify-content: left;
    margin-top: 15px;
}

.btnDetails{
    background-color: var(--white);
    color: var(--gray);
    border: 2px solid var(--gray);
    width: 120px;
    border-radius: 5px;
    height: 30px;
    transition: all ease 1s;
}

.btnAddToCart{
    background-color: var(--orange);
    color: var(--white);
    border: 2px solid var(--black);
    width: 120px;
    border-radius: 5px;
    height: 30px;
    transition: all ease 1s;
    margin-left: 10px;
}

.btnDetails:hover{
    background-color: var(--gray);
    color: var(--white);
}

.btnAddToCart:hover{
    background-color: var(--orange);
    color: var(--white);
}

.cardBookButtons a{
    text-decoration: none;
}

.orderFilters{
    display: flex;
    justify-content: right;
    margin-right: 50px;
    margin-top: 25px;
}

.bookSearchBar{
    
}

.orderbyFilters a{
    margin-right: 25px;
    color: var(--white);
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.orderbyFilters a::before,
.orderbyFilters a::after{
    border-bottom: 2px solid var(--orange);
    content: '';
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}

.orderbyFilters a::before{
    width: 90%;
    right: 0px;
    bottom: -5px;
}

.orderbyFilters a::after{
    left: 0px;
    bottom: -10px;
    width: 60%;
}

.orderbyFilters a.selectedOrder::before,
.orderbyFilters a:hover::before{
    opacity: 1;
    width: 70%;
}

.orderbyFilters a.selectedOrder::after,
.orderbyFilters a:hover::after{
    width: 40%;
    opacity: 1;
}